$third: #F5DB13;
$primary: #F2B807;
$second: #F28F16;
$success: #28a745;
$danger: #D93E30;
$white: #F2F2F2;
$dark: #212121;

$phone: 500px;
$tablet: 768px;
$desktop: 1340px;

$tabletContent: 480px;
$desktopContent: 745px;
$bigDesktopContent: 1320px;

$bigDesktopCard: 166px;
$desktopCard: 120px;
$tabletCard: 100px;
$phoneCard: 75px;
