@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: 'belwe';
  src: local('belwe'), url(./fonts/belwe.otf) format('opentype');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'belwe', 'sans-serif';
}
